<mat-card class="score-card" *ngIf="player">
  <p class="id">ID: {{ player.id }}</p>
  <p class="name">Name: {{ player.username }}</p>
  <p class="height">Height: {{ player.height }}</p>
  <p class="avg_score">Average Score: {{ player.avg_score }}</p>
  <p class="game_count">Count of Games: {{ player.game_count }}</p>
</mat-card>