<div class="container">
  <div class="team">
    <h1>Teams</h1>
    <p>name: {{team && team.name}}</p>
    <p>average score: {{team && team.avg_score}}</p>

    <div class="player-list" *ngIf="team">
      <div>
        <button (click)="retrievePlayer(0.90)">90% percentile</button>
        <button (click)="retrievePlayer(0)">All</button>
      </div>
      <!-- <div *ngFor="let option of options" [option]="option">
        <p>{{option.name}}</p>
        <hr>
      </div>
      <mat-form-field appearance="fill">
        <mat-select placeholder="State" (selectionChange)="retrievePlayer($event.value)">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <!-- *ngIf="team" -->
      <!-- <form name="myForm">
        <label for="mySelect">Make a choice:</label>
        <select name="mySelect" id="mySelect"
          ng-options="option.name for option in data.availableOptions track by option.id"
          ng-model="data.selectedOption"></select>
      </form> -->
      <!-- ng-options="option.name for option in percentils.options track by option.id" -->
      <!-- ng-change="retrievePlayer(selectedOption.value)" -->
      <!-- <form name="myForm">
        <tr *ngFor="let option of options" [option]="option">
          <td>
            <input ng-model="selectedOption" ng-click="retrievePlayer(selectedOption.value)" type="checkbox" />
          </td>
        </tr>
        <select name="playerSelect" id="playerSelect" ngModal="selectedOption"
          ngOptions="option as option.name for option in options track by option.id"
          ngChange="retrievePlayer(selectedOption.value)">
          <option *ngRepeat="option in options" ngValue="option.value">{{option.name}}</option>
          <option value=0.95>95 percentile</option>
          <option value=0.75>75 percentile</option>
          <option value=0.5>median</option>
          <option value=0>all</option>
        </select>
      </form> -->
      <hr>
      <div *ngFor="let p of players" [p]="p">
        <app-player [player]="p"></app-player>
        <hr>
      </div>
      <!-- <select ng-options=" x for x in team.players">
          </select> -->
      <!-- <div *ngFor="let player of team.players" [section]="player">
        
        <p>name: {{player.username}}</p>
        <p>average score: {{player.avg_score}}</p>
      </div> -->
      <!-- <a routerLink="/team" [queryParams]="{teamId: team.id}" routerLinkActive="active">name: {{team.name}}</a> -->
    </div>


  </div>
</div>