<div class="container">
  <div class="team-list">
    <h1>Teams</h1>
    <div *ngFor="let team of teams" [team]="team">
      <a routerLink="/team" [queryParams]="{teamId: team.id}" routerLinkActive="active">name: {{team.name}}</a>
    </div>
    <div [@routeAnimation]="getAnimationData(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>
  </div>
</div>