<div class="container">
  <div class="player-list">
    <h1>Players</h1>
    <hr>
    <div *ngFor="let player of players" [player]="player">
      <p>name: {{player.username}}</p>
      <p>status: {{player.status}}</p>
      <p>logged seconds: {{player.total_logged_seconds}}</p>
      <p>logged count: {{player.total_logged_count}}</p>
      <p>last changed at: {{player.status_changed_at}}</p>
      <hr>
    </div>
  </div>
</div>