<div class="root-container" *ngIf="!authenticated()">
  <h2>Log In</h2>
  <div>
    <label>Username: </label>
    <input type="text" name="login-username" [(ngModel)]="user.username">
    <span *ngFor="let error of _userService.errors.username"><br />{{ error }}</span></div>
  <br>
  <div>
    <label>Password: </label>
    <input type="password" name="login-password" [(ngModel)]="user.password">
    <span *ngFor="let error of _userService.errors.password"><br />{{ error }}</span>
  </div>
  <br>
  <div>
    <button (click)="login()" class="btn btn-primary">Log In</button>&nbsp;
  </div>
  <div>
    <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
  </div>
</div>
<div class="row" *ngIf="authenticated()">
  <ul>
    <li><a routerLink="/score_board" routerLinkActive="active">Score Board</a></li>
    <li><a routerLink="/team_board" routerLinkActive="active">Teams</a></li>
    <li><a routerLink="/player_board" routerLinkActive="active">Players</a></li>
  </ul>
  <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
  <!-- <app-score-board></app-score-board> -->
  <div class="col-sm-12">You are logged in as {{ _userService.username }}.<br />
    Token Expires: {{ _userService.token_expires }}<br />
    <button (click)="refreshToken()" class="btn btn-primary">Refresh Token</button>&nbsp;
    <button (click)="logout()" class="btn btn-primary">Log Out</button>&nbsp;
  </div>
</div>