{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ang/styles.css' %}"></head>
<body>
    <ul>
      <li>{{ team.name }}</li>
      <li>{{ team.avg_score }}</li>
    </ul>

    {% for player in teams.players %}
    <ul>
      <li>{{ player.username }}</li>
        <li>{{ player.height }}</li>
      <li>{{ team.avg_score }}</li>
    </ul>
    {% endfor %}
</body>
</html>
