<mat-card class="score-card" ng-model="winner">
    <span class="team1">
        <!-- <a href={{game.team1}} [ngStyle]="winner[0]">{{ game.team1_name }}</a> -->
        <li><a [ngStyle]="winner[0]" routerLink="/team" [queryParams]="{teamId: game.team1.id}"
                routerLinkActive="active">{{ game.team1.name }}</a></li>
    </span>
    <span class="score">{{ game.score1 }} : {{ game.score2 }}</span>
    <span class="team2">
        <!-- <a href={{game.team2}} [ngStyle]="winner[1]">{{ game.team2.name }}</a> -->
        <li><a [ngStyle]="winner[1]" routerLink="/team" [queryParams]="{teamId: game.team2.id}"
                routerLinkActive="active">{{ game.team2.name }}</a></li>
    </span>
</mat-card>