<div class="container">
  <div class="score-card-list">
    <h1>Basketball scores</h1>
    <div *ngFor="let section of sections" [section]="section">
      <h1>Round: {{section[0]}}</h1>
      <app-score-card *ngFor="let game of section[1]" [game]="game"></app-score-card>
    </div>
  </div>
</div>